@{
    ViewBag.Title = "Trang chủ";
}
<div class="section section-basic" style="padding: 20px 5px 10px; ">
    <div class="container">
        <div class="card card-nav-tabs col-lg-12">
            <h3 class="card-header card-header-info">Featured</h3>
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="space-5"></div>
        <div class="card card-nav-tabs col-lg-12">
            <h3 class="card-header card-header-primary">Featured</h3>
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="space-10"></div>
        <div class="card card-nav-tabs col-lg-12">
            <h3 class="card-header card-header-success">Featured</h3>
            <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="space-20"></div>
        <div class="card card-nav-tabs col-lg-12">
            <div class="card-body">
                <h4 class="card-title text-center text-info">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var viewModel;
        var ViewModel = function () {
            var self = this;

            self.Search = function () {
                showNotificationToFont('success', 'OK');
            };
        };


        $(document).ready(function () {

        });
    </script>
}
