@{
    ViewBag.Title = "Trang chủ";
}
<div class="section section-basic" style="padding: 20px 5px 10px; ">
    <div class="container">
        <div class="card card-nav-tabs" style="width: 100%">
            <div class="card-header card-header-info">
                Featured
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var viewModel;
        var ViewModel = function () {
            var self = this;

            self.Search = function () {
                showNotificationToFont('success', 'OK');
            };
        };


        $(document).ready(function () {

        });
    </script>
}
